.block-card {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
  transition: box-shadow 0.2s;
}

.block-card:hover {
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.2);
}

.block-content {
  padding: 8px 16px;
}

.block-header {
  border-bottom:  1px solid rgba(0,0,0,0.1);
  width: 100%;
  display: inline-flex;
  align-items: center;
}
